@media(max-width: 576px) {
    .food-items {
        display: block;
    }
    .food-item {
        width: 250px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .input-box input {
        width: 150px;
    }
    .food-img-container{
        display: block;
        width: 350px;
    }
    .food-img-container img {
        width: 120px;
    }
    .error-area{
        width: 225px;
    }
    .error-area h2{
        font-size: 15px;
    }
}

@media(max-width: 992px){
    .error-area{
        width: 300px;
    }
    .error-area h2{
        font-size: 20px;
    }
}

@media(max-width: 1300px){
    .error-area{
        width: 400px;
    }
    .error-area h2{
        font-size: 30px;
    }
}