* {
    font-family: candara;
}

body {
    background-color: #868E96 !important;
}

nav {
    background-color: #003542;
    border-radius: 0 0 5px 5px;
}

nav .container-fluid a {
    color: white;
    font-size: 22px;
}

.main-container {
    margin-top: 30px;
}

.input-box, .search-button {
    display: block;
    float: left;
}

.input-box input {
    width: 300px;
    border-radius: 5px 0 0 5px;
}

.search-button button {
    /* padding: 6.5px;
    background-color: #FFCA2C;
    border: 0; */
    border-radius: 0 5px 5px 0;
}

.food-items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.food-item {
    cursor: pointer;
    box-shadow: 4px 4px 8px dimgray;
}

.food-img-container {
    width: 500px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 50px auto 0;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.food-img-container h4 {
    margin-top: 15px;
    margin-left: 10px;
}

.food-img-container img {
    width: 250px;
    border-radius: 3px;
}

.error-area {
    width: 40%;
    padding: 30px 30px;
    text-align: center;
    margin: 110px auto;
    background-color: white;
    box-shadow: 3px 3px 8px black;
    border-radius: 10px;
    display: none;
}

.invalid-message-area {
    display: none;
}

.invalid-message-area div {
    width: 300px;
    color: red;
    text-align: center;
    margin: 50px auto 0;
}

.copy-right{
    margin: 342px 0 0 0;
}

.copy-right-content{
    width: 260px;
    margin: 0 auto;
}

.copy-right-content p{
    font-family: tahoma;
    font-size: 15px;
}